
@media (max-width:700px) {
    .card-img{
        height: 15rem !important;
    }
}
.card{
    background-color: var(--bg);
    
}
.resulthead{
    height: 150px;
}
.topborder{
    border-top-width: 0.8px;
    border-top-style: solid;
    border-top-color: rgba(0, 0, 0, 0.184);
}
.bottomborder{
    border-bottom-width: 0.8px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.184);
}
.resulthead h2{
    font-weight: 600;
    font-size: 45px;
}
.card-img{
    height: 23rem;
    object-fit: cover;
    border-radius: rgba(0,0,0,0.5);
    border-radius: 3px;
    border-width: 0.9px;
    border-style: solid;
    transition: all ease 0.3s;
}
.card-img-wrap:hover .card-img{
    transform: translateY(-8px);
    box-shadow: var(--shadow);
}
.card-title{
    height: 40px;
}
.card-subtitle{
    height: 20px;
    font-size: 12px;
}
.loading{
    height: 700px;
}
