:root {
  --text: #2b2b2b;
  --text-h: #08060d;
  --bg: #f7f3eb;
  --primary: #5c4033;


  --accent: #a23e48;
  --accent-bg: #e3d7c1;



  --shadow: inset rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: "DM serif";
  --heading: "Inter", sans-serif;
  --mono: Inter, system-ui, -apple-system, Segoe UI, Roboto, Arial;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color: var(--text);
  background: var(--bg);


  @media (max-width: 1024px) {
    font-size: 16px;
  }
}
.heading{
  font-family:var(--heading);
  font-weight: 600;
  font-size: 17px;
}
.mono{
  font-family:var(--mono);
  font-weight: 400;
}


#root {
  background-color: var(--bg);
}